<div>
    <form method="post" action="/user/signup">
        <h1>Sign Up</h1>
        <h2>Enter Name</h2>
        <input type="text" name="name" />
        <h2>Enter Email</h2>
        <input type="text" name="email" />
        <h2>Enter Password</h2>
        <input type="password" name="password" />
        <!-- <h2>Enter Group name</h2>
        <input type="text" name="group" />
        <h2>Enter Expense</h2>
        <input type="text" name="expense" /> -->
        <button type="submit">Click me</button>
    </form>
</div>