<div>
    <form method="post" action="/user/delete/?_method=DELETE">
        <h1>Delete User</h1>
        <h2>Enter Email</h2>
        <input type="text" name="email" />
        <button type="submit">Submit</button>
    </form>
</div>