<div>
    <form action="/user/userUpdate/?_method=PUT" method="post">
        <h1>Update User</h1>
        <h2>Enter Email of the account you want to update name of :</h2>
        <input type="text" name="email" />
        <h2>Name</h2>
        <input type="text" name="name" />
        <button type="submit" >Update</button>
    </form>
</div>